NEXT_PUBLIC_SUPABASE_URL=https://dotyjpdafxwkmmgmxlrz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvdHlqcGRhZnh3a21tZ214bHJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM1NzYyMjUsImV4cCI6MjA1OTE1MjIyNX0.sSwDrdu-EhCJqD2wDIgiwncB-eZJ-aLPpvfrd3xSQmE
